[Desktop Entry]
Type=Application
Terminal=false
Name=Multiup MaNaGeR
Exec=/usr/bin/multiup
Icon=/usr/share/pixmaps/multiup.png
Comment=Upload manager for multiup.org
Comment[fr_FR]=Gestionnaire d'upload pour multiup.org
Comment[fr]=Gestionnaire d'upload pour multiup.org
Categories=Network;
Keywords=multiupload;upload;mirroir;téléchargement;
Keywords[fr]=multiupload;upload;mirror;download;